@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

body {
  font-family: Sarabun, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: #671a68;
}

h1 {
  margin-top: 40px;
  color: #f4d8f4;
  font-size: 48px;
}

h3 {
  color: #dfb2e0;
  font-size: 24px;
}

input {
  font-size: 18px;
}

#linkbtn {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  visibility: collapse;
  text-decoration: none;
  margin-top: 50px;
  font-size: 18px;
}
  #linkbtn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  #linkbtn:active {
    transform: scale(0.95);
  }

/*
footer p {
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
}
*/
