@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

body {
  padding: 0 10%;
  font-family: Sarabun, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: #671a68;
}

footer {
  margin-top: 50px;
}

h1, h3 {
  background: linear-gradient(to bottom, #E8D5AA 0%, #D6937A 100%);
  background-clip: text;
  color: transparent;
}

h1 {
  margin-top: 40px;
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

p {
  color: #f4d8f4;
}

input {
  font-size: 18px;
}

#result {
  color: #d33;
}

.update {
  color: #9dd195;
}

.highlight {
  font-weight: bold;
  color: #a4e49a;
}

